* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    @media screen and (min-width: 1000px) {
        background-color: $Red;
        background-image: url("../images/bg-intro-desktop.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    background-color: $Red;
    background-image: url("../images/bg-intro-mobile.png");
    background-size: contain;
}   
