@import "property";
@import "general";

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;

    .konten_kiri {
        margin-top: 2rem;
        color: white;
        text-align: center;
        h1 {
            font-size: 1.75rem;
            font-weight: 700;
            margin-bottom: 1.55rem;
            line-height: 1.25;
        }
        p {
            font-weight: 400;
        }
    }
    .konten_kanan {
        .tombol_atas {
            margin-top: 4.125rem;
            width: 100%;
            background-color: $Blue;
            padding: 1.25rem 5rem 1.125rem 5rem;
            text-align: center;
            border-radius: 0.625rem;
            a {
                font-size: 15px;
                color: white;
                text-decoration: none;
                font-weight: 400;
                span {
                    font-weight: 700;
                }
            }
        }
        .form_bawah {
            margin-top: 1.5rem;
            margin-bottom: 2rem;
            border-radius: 0.625rem;
            background-color: white;
            padding: 1.5rem;
            form {
                display: flex;
                flex-direction: column;
                input {
                    border-radius: 0.375rem;
                    padding: 1rem 0 1rem 1rem;
                    margin-bottom: 1rem;
                    border: 1px solid rgb(218, 218, 218);
                    font-weight: 600;
                    font-family: 'Poppins', sans-serif;
                }
                button {
                    background-color: $Green;
                    text-transform: uppercase;
                    font-family: 'Poppins', sans-serif;
                    border: none;
                    color: white;
                    font-weight: 500;
                    letter-spacing: 1px;
                    font-size: 1rem;
                    padding-top: 1.0625rem;
                    padding-bottom: 0.875rem;
                    border-radius: 0.5rem;
                    margin-bottom: 0.75rem;
                    cursor: pointer;
                }
            }
            p {
                text-align: center;
                font-size: 11px;
                padding: 0 1.375rem;
                color: $Grayish_Blue;
                span {
                    color: $Red;
                    font-weight: 600;
                }
            }
        }
    }
}