@import "property";
@import "general";

.container {
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;

    .konten_kiri {
        margin-top: 2rem;
        color: white;
        text-align: center;
        h1 {
            font-size: 1.75rem;
            font-weight: 700;
            margin-bottom: 1.55rem;
            line-height: 1.25;
        }
        p {
            font-weight: 400;
        }
    }
    .konten_kanan {
        .tombol_atas {
            button {
                box-shadow: 0 8px 2px hsla(0, 0, 0, 0.2);
                font-family: 'Poppins', sans-serif;
                font-size: 15.2px;
                color: white;
                text-decoration: none;
                font-weight: 400;
                margin-top: 4.125rem;
                width: 100%;
                background-color: $Blue;
                padding: 1.25rem 5rem 1.125rem 5rem;
                text-align: center;
                border-radius: 0.625rem;
                border: none;
                line-height: 1.65;
                cursor: pointer;
                span {
                    font-weight: 700;
                }
            }
            button:focus {
                outline: none;
                box-shadow: 0 0 1px $Dark_Blue;
                box-shadow: 0 8px 2px hsla(0, 0, 0, 0.2);
            }
            button:hover {
                background-color: hsl(248, 42%, 64%); 
            }
        }
        .form_bawah {
            box-shadow: 0 10px 2px hsla(0, 0, 0, 0.2);
            margin-top: 1.5rem;
            margin-bottom: 2rem;
            border-radius: 0.625rem;
            background-color: white;
            padding: 1.5rem;
            form {
                display: flex;
                flex-direction: column;
                .first_name {
                    position: relative;
                    img {
                        position: absolute;
                        width: 12px;
                    }
                }
                
                label {
                    display: none;
                }
                .error_label {
                    margin-top: -1rem;
                    font-size: 12px;
                    color: $Red;
                    font-style: italic;
                    text-align: right;
                    font-family: 'Poppins', sans-serif;
                    margin-bottom: 18px;
                    
                }
                input {
                    
                    border-radius: 0.375rem;
                    padding: 1rem 0 1rem 1rem;
                    margin-bottom: 1rem;
                    border: 1px solid rgb(218, 218, 218);
                    font-weight: 600;
                    font-family: 'Poppins', sans-serif;
                }
                input:focus {
                    outline: none;
                    border: 1px solid $Dark_Blue;
                }
                .input_error {
                    border: 2px solid $Red;
                    background-image: url("../images/icon-error.svg");
                    background-repeat: no-repeat;
                    background-position: right;
                    background-position-x: 95%;
                }
                button {
                    box-shadow: 0 5px 2px hsla(0, 0, 0, 0.2);
                    background-color: $Green;
                    text-transform: uppercase;
                    font-family: 'Poppins', sans-serif;
                    border: none;
                    color: white;
                    font-weight: 500;
                    letter-spacing: 1px;
                    font-size: 1rem;
                    padding-top: 1.0625rem;
                    padding-bottom: 0.875rem;
                    border-radius: 0.5rem;
                    margin-bottom: 0.75rem;
                    cursor: pointer;
                }
                button:focus {
                    outline: none;
                    box-shadow: 0 0 1px hsl(154, 47%, 45%);
                    box-shadow: 0 5px 2px hsla(0, 0, 0, 0.2);
                }
                button:hover {
                    background-color: hsl(154, 66%, 59%);
                }
            }
            p {
                text-align: center;
                font-size: 11px;
                padding: 0 1.375rem;
                color: $Grayish_Blue;
                span {
                    color: $Red;
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        max-width: 69.375rem;
        .konten_kiri {
            margin: auto;
            grid-column: 1/2;
            text-align: left;
            h1 {
                line-height: 1.1;
                font-size: 3.03125rem;
                margin-bottom: 2rem;
            }
        }
        .konten_kanan {
            margin-top: auto;
            margin-bottom: auto;
            grid-column: 2/3;
            margin-left: 1rem;
            .tombol_atas {
                button {
                    margin-top: 0;
                }
            }
            .form_bawah {
                padding: 2.5rem;
                margin-bottom: 0;
                form {
                    input {
                        padding: 1.125rem 0 1.125rem 1.75rem;
                        margin-bottom: 1.25rem;
                    }
                }
            }
        }
    }
}